.navbar {
    background-color: transparent!important;
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 130px;
    left: 0;
    right: 0;
    top: 0;
}

.navbar-nav a{
    color: white;
    padding-right: 10px;
    /* background-color: aqua; */
    font-size: 1rem;
}
.navbar-nav a:hover{
    color: white;
}
.navbar{
    --bs-navbar-nav-link-padding-x:1.5rem;
}
/* .navbar-nav {
    padding-right: 1.5rem!important;
    padding-left: 17.5rem!important;
} */
.dropdown-toggle::after{
    content: unset;
}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: white;
}
.dropdown-menu{
    background-color: transparent;
    border: none;
    text-align: right;
}
.dropdown-menu a:hover{
    background: transparent;
    color: white;
}
.dropdown-menu[data-bs-popper]{
    left: -121px!important;
}
.contact-link button{
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    padding: 12px 32px!important;
    
}
.navbar-nav a.contact-link button:hover{
    background-color: yellow;
    color: #000;
    border: 1px solid transparent;
    font-size: 1rem!important;
}
@media (max-width:414px) {
    .navbar{
        width: 40%;
        left: -20px;
        right: -20px;
    }
    .navbar-nav {
        background-color: #0000006b;
        padding-left: 1rem!important;
        width: 90%;
    }
    .offcanvas-backdrop {
        background-color: rgb(220,65,34);
    }
    
}